# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# Angular / Node
node_modules/
dist/
.angular/
.nx/
coverage/
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
